/* import fonts from google */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');
:root {
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lighrblue {
    color: lightblue;
}


/* header */

header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header {
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}


/* nav menu */

.navbar-nav {
    padding: 0.8em 0em;
}

.navbar-nav .nav-link {
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link {
    padding: 0 1.3em;
}

.navbar-nav .basket-icon {
    margin-right: 6.5rem !important;
}

.navbar-nav li .nav-shop__circle {
    font-size: 9px;
    display: inline-block;
    background: #384aeb;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    position: absolute;
}

.site-slider-two .slider-two img {
    width: 200px;
    /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}


/* Slider one */

.site-slider {
    position: relative;
}

.postion-top {
    position: absolute;
    top: 45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
    opacity: 1;
}

.right-0 {
    right: 0;
}


/* Slick dots */

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    bottom: 0;
    right: 50%;
}

.slick-dots li {
    margin: 0 0.6rem;
}

.slick-dots button {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: rgb(19, 20, 19);
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button {
    transform: scale(1.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
    border-radius: 100%;
}


/* Second Slider */

.site-slider-two {
    position: relative;
    height: 30%;
}

.site-slider-two .product {
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .product img {
    width: 90%;
    margin: auto;
}

.site-btn .btn-span {
    padding: 0.8rem 1.9rem;
    border-radius: 3rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}

.slider-two .slick-track .product:hover span {
    background-color: var(--primary-color);
}

.hr {
    border: 1px dotted var(--border);
}


/* Featurs section */

.container .features {
    padding: 3rem 0;
}

.container .features h1 {
    font-family: var(--gugi);
}

.container .features p {
    padding: .5% 25%;
    font-size: 0.9em;
}


/* Third Slider */

.site-slider-three {
    position: relative;
    margin-bottom: 5rem;
}

.site-slider-three .product {
    height: 100%;
    padding: 0em;
}

.site-slider-three .cart-details {
    margin-top: .5rem;
    padding: 0 2rem;
}

.rating i {
    font-size: 0.7rem;
    color: lightblue;
}

.site-slider-three .pro-price span {
    color: var(--text-color);
}

.product .cart .site-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.footer-area {
    background: #002347;
    padding: 50px 0px 50px
}

.single-footer-widget p {
    margin-bottom: 15px
}

.single-footer-widget p:last-child {
    margin-bottom: 0
}

.footer-bottom .footer-text {
    color: #fff;
    margin-bottom: 0
}

.footer-bottom .footer-text a {
    color: #384aeb;
    opacity: 1
}

.footer-only {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}